/routes*.txt
/database/fortis*
/node_modules
/public/hot
/public/storage
/public/files/*
/public/css/app.css
/public/js/*
/public/fonts
/public/images/avatars/*
!/public/images/avatars/default.jpg
!/public/images/avatars/g1.jpg
!/public/images/avatars/g2.jpg
!/public/images/avatars/l1.jpg
!/public/images/avatars/l2.jpg
!/public/images/avatars/l3.jpg
/storage/app/public/excels/*
/storage/framework/sessions/*
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/*.key
/storage/logs/*.log
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
